MONGO=mongodb://127.0.0.1:57417/barber?replicaSet=rs0&directConnection=true
PORT=4400
JWT_SECRET=example-barber-access-secret
JWT_REFRESH_SECRET=example-barber-refresh-secret
SEED_ADMIN_EMAIL=admin@demo.com
SEED_ADMIN_PASSWORD=demo1234
GRAPHQL_ENDPOINT=http://localhost:4400/graphql
