.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/node_modules/
**/.next/
**/coverage/
**/storybook-static/
**/playwright-report/
**/test-results/
**/uploads/*
!**/uploads/.gitkeep
**/generated/
*.log
**/*.tgz
.DS_Store
