name: Generate Release

on:
  push:
    branches:
      - release/*

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@3.1.0
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v1.4.4
        with:
          node-version: 14
      - run: npm ci
      - run: npx json -f package.json peerDependencies | npx json -ka | xargs -i{} bash -c 'echo $0@$(npx json -f package.json peerDependencies.$0)' {} | xargs -i{}  npm install --save-optional {}
      - run: npm run lint
      - run: npm test
      - run: npm version --no-git-tag-version $(echo ${{ env.GITHUB_REF_SLUG }} | cut -d"-" -f 2)
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Set Release version to ${{ env.GITHUB_REF_SLUG }}"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ env.GITHUB_REF_SLUG }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: "${{ env.GITHUB_REF_SLUG }}"
            release_name: Release ${{ env.GITHUB_REF_SLUG }}
            body: |
              Changes in this Release
            draft: false
            prerelease: false

      - name: "Set next development version"
      - uses: actions/setup-node@v1.4.4
        with:
          node-version: 14
      - run: npm version --no-git-tag-version preminor --preid alpha
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Set next development version"
      - name: Push changes
      - uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
